header {
    display: flex;
    justify-content: space-between;
    min-width: 1280px;
}

.navigation>ul {
    display: flex;
    margin-left: 19px;
}

.navigation>ul>li {
    margin: 19px 31px 19px 0;
}

.navigation>ul>li>a {
    color: #222;
    font-size: 13px;
}

.user-area {
    width: 320px;
    height: 60px;
    display: flex;
    margin-right: 24px;
    align-items: center;
    justify-content: space-between;
}

.user-area a {
    font-size: 13px;
}

.weather {
    display: flex;
    align-items: center;
    font-size: 13px;
}

.weather>a {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90px;
}

.weather>a>img {
    width: 23px;
    height: 23px;
    display: inline-block;
}

.air-quality {
    font-size: 9px;
    color: #fff;
    display: inline-block;
    background-color: #40c057;
    padding: 0 8px;
    border-radius: 9px;
    margin-left: 9px;
    line-height: 14px;
}

.profile a {
    display: inline-block;
    display: flex;
    align-items: center;
    width: 100px;
}

.avatar {
    width: 28px;
    height: 28px;
    padding: 2px;
    border-radius: 50%;
    border: 1px solid #4e71f2;
    margin-right: 5px;
}

.logo {
    margin: 0px auto 0px auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.logo img {
    width: 270px;
    height: 129px;
}

.search {
    width: 650px;
    margin: 10px auto 0 auto;
    display: flex;
    align-items: center;
}

.search-word {
    width: 550px;
    height: 44px;
    border: 2px solid #4e6ef2;
    border-radius: 10px 0 0 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.search-word>input {
    width: 480px;
    height: 30px;
    margin-left: 16px;
    border-width: 0;
    outline: medium;
}

.search-word>span {
    width: 24px;
    height: 20px;
    background: #fff url("../images/icon.png") no-repeat;
    background-position: 0 -51px;
    display: inline-block;
    margin-right: 15px;
}

.search-button {
    width: 110px;
    height: 44px;
    background-color: #4e6ef2;
    border: 1px solid #4e6ef2;
    border-radius: 0 10px 10px 0;
    color: #fff;
    font-size: 17px;
    margin-left: -2px;
}

footer>div {
    position: fixed;
    bottom: 8px;
    width: 100%;
}

footer>div>ul {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 1280px;
    margin: auto;
}

footer>div>ul>li {
    font-size: 12px;
    color: #bbb;
}